<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NoTranslate, NoImageIndex, NoSnippet, NoFollow, NoIndex, noodp, noydir" />
<link rel="stylesheet" type="text/css" href="style.css">
<title>productive day</title>
</head>
<body>
<a href="index.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">home</a> | <a href="contact.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">contact</a> | <a href="sitemap.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">site map</a>
<p>i have not yet completed even one section. why ? because i want to resolve all issues. it means i have to learn and implement new things. today i have learnt how to use superscript and fraction. from today onwards i have to use <code>{{frac|6|1|2}}</code> for fraction and <code>{{sup|2}}</code> for superscript. i have received clarifications of how to use fraction and superscript at teahouse. they are very reliable and super quick also.</p>
today queries :
<ul>
<li><a href="https://en.wikipedia.org/wiki/Wikipedia:Teahouse?markasread=179593735&markasreadwiki=enwiki#which_fraction_should_i_use_for_6%C2%BD_?" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">which fraction should i use for 6½ ? in teahouse (opens in new tab)</a></li>
<li><a href="https://en.wikipedia.org/wiki/Wikipedia:Teahouse?markasread=179594372&markasreadwiki=enwiki#can_i_use_2_and_other_similar_codes_in_infoboxes" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">can i use 2 and other similar codes in infoboxes in teahouse (opens in new tab)</a></li>
<li><a href="https://en.wikipedia.org/wiki/Wikipedia_talk:Manual_of_Style/Dates_and_numbers?markasread=179601715&markasreadwiki=enwiki#which_fraction_should_i_use_for_6%C2%BD_?" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">which fraction should i use for 6½ ? in mos: dates&numbers (opens in new tab)</a></li>
</ul>
<p><a href="https://validator.w3.org/check?uri=referer"><img src="https://www.w3.org/Icons/valid-html401"  alt="Valid HTML 4.01!" height="31" width="88"></a> &nbsp; <a rel="license external noopener noreferrer nofollow" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" height="31" width="88"></a> &nbsp; <a rel="payment noopener external noreferrer nofollow" target="_blank" href="https://donate.torproject.org/"><img src="tor-purple.png" style="border-style: none;" alt="Donate to the Tor Project!" height="31" width="88"></a></p>
</body>
</html>
