<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NoTranslate, NoImageIndex, NoSnippet, NoFollow, NoIndex, noodp, noydir" />
<link rel="stylesheet" type="text/css" href="style.css">
<title>january nineteen</title>
</head>
<body>
<a href="index.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">home</a> | <a href="contact.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">contact</a> | <a href="sitemap.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">site map</a>
<p>i have created pull requests almost six months. most of them are merged. however, i did not deleted repositories. today i have deleted them. i also learnt few lessons about how to identify if my pull request is merged or not.
if my forked repository shows :
<ul>
<li><strong>This branch is even with</strong>, my pull request is pending or unmerged.</li>
<li><strong>This branch is X commits behind</strong>, my pull request might have been merged. </li>
</ul>
<p>to be sure, visit upstream repository and search pull requests with <strong>is:pr author:leela52452 is:closed</strong>, if it is listed in closed, then your pull request is merged.</p>
<p>sometimes a project might contain many pull requests and you forgot pull request hyperlink or notification. you can find by clicking or tapping <em>your pull requests</em> in pull request search filter of upstream repository, will show all of your pull requests, see screenshot below :</p>
<div>
<img src="pull-request-filter.png" alt="screenshot of pull request filter options" height="90" width="90">
<a rel="license noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0)</a>
</div>
<p>i have also found markdown format error on rhino repository. immediately i have created pull request : <a href="https://github.com/mozilla/rhino/pull/644" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">fix OWASP Cheat Sheet markdown format (opens in new tab)</a>.</p>
<p>i was annoyed for receiving thanks notifications. i have created journal entry titled <a href="16.html" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">regarding thanks (opens in new tab)</a>. perhaps i will not use in future. reason : Kerry Raymond had left message on my <a href="https://en.m.wikipedia.org/wiki/User_talk:Leela52452" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">talk page (opens in new tab)</a>, i fixed once and forever <strong>thanks</strong> notifications.</p>
<p>i have also reassessed various notifications of my wikipedia <a href="https://wikipedia.org/wiki/Special:GlobalPreferences" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">Global preferences (opens in new tab)</a>.</p>
<p>i have learnt how to ping or bring attention of user on wikipedia using <code>{{reply to|Username}} Message text. ~~~~</code> using <a href="https://wikipedia.org/wiki/Template:Reply_to" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">reply to template (opens in new tab)</a>.</p>
<p>second time ? my attention diverted towards resolving various other issues on wikipedia. i have tried and read about Fix wikilinks and Add an image using data from Opentask. after few hours, i abandoned it. i am not ready yet.</p>
reference or learn more about :
<ul>
<li><a href="https://github.com/mozilla/rhino" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">Rhino: JavaScript in Java (opens in new tab)</a></li>
<li><a href="https://wikipedia.org/wiki/Wikipedia:Community_portal/Opentask" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">Community portal/Opentask (opens in new tab)</a></li>
</ul>
<p><a href="https://validator.w3.org/check?uri=referer"><img src="https://www.w3.org/Icons/valid-html401"  alt="Valid HTML 4.01!" height="31" width="88"></a> &nbsp; <a rel="license external noopener noreferrer nofollow" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" height="31" width="88"></a> &nbsp; <a rel="payment noopener external noreferrer nofollow" target="_blank" href="https://donate.torproject.org/"><img src="tor-purple.png" style="border-style: none;" alt="Donate to the Tor Project!" height="31" width="88"></a></p>
</body>
</html>