<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NoTranslate, NoImageIndex, NoSnippet, NoFollow, NoIndex, noodp, noydir" />
<link rel="stylesheet" type="text/css" href="style.css">
<title>february four</title>
</head>
<body>
<a href="index.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">home</a> | <a href="contact.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">contact</a> | <a href="sitemap.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">site map</a>
<p>my progress is slow today. i could not find fix citation. i realized today why its called citation <strong>hunt</strong>. if author has copied verbatim, it is very easy to fix. my focus has shifted to cs1 errors. i can easily fix them. i did not encountered any issues. i have learnt to add missing reference tag by using <code>{{reflist}}</code>. my <a href="https://en.m.wikipedia.org/w/index.php?target=Leela52452&namespace=all&tagfilter=&start=2020-02-04&end=2020-02-04&limit=50&title=Special%3AContributions" rel="noopener external noreferrer nofollow" target="_blank" style="text-decoration:underline">contributions on february four (opens in new tab)</a>.</p>
<p><a href="https://validator.w3.org/check?uri=referer"><img src="https://www.w3.org/Icons/valid-html401"  alt="Valid HTML 4.01!" height="31" width="88"></a> &nbsp; <a rel="license external noopener noreferrer nofollow" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" height="31" width="88"></a> &nbsp; <a rel="payment noopener external noreferrer nofollow" target="_blank" href="https://donate.torproject.org/"><img src="tor-purple.png" style="border-style: none;" alt="Donate to the Tor Project!" height="31" width="88"></a></p>
</body>
</html>