<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NoTranslate, NoImageIndex, NoSnippet, NoFollow, NoIndex, noodp, noydir" />
<link rel="stylesheet" type="text/css" href="style.css">
<title>december twenty six</title>
</head>
<body>
<a href="index.html" rel="noopener noreferrer nofollow" style="text-decoration:underline">home</a> | <a href="contact.html" rel="noopener noreferrer nofollow" style="text-decoration:underline">contact</a> | <a href="sitemap.html" rel="noopener noreferrer nofollow" style="text-decoration:underline">site map</a>
<p>today i have created issues for next milestone. frustrated due to non application of skin on wikipedia. it is a known issue : "Give users the ability to choose skin for mobile domain in Special:Preferences". i have also created two journal entries. at last i have found a way to use dark skin, i am using skin of "User:AHollender (WMF)/night mode.css". i have also found a way to delete page created by simply adding <code>{{db-author}}</code> on top of page. i have also learnt to include signature on talk pages using <code>~~~~</code>.</p>
references or useful URLs :
<ul>
<li><a href="https://phabricator.wikimedia.org/T173527" rel="noopener noreferrer nofollow" target="_blank" style="text-decoration:underline">T173527 Give users the ability to choose skin for mobile domain in Special:Preferences (opens in new tab)</a></li>
<li><a href="https://en.m.wikipedia.org/wiki/Wikipedia:How_to_delete_a_page" rel="noopener noreferrer nofollow" target="_blank" style="text-decoration:underline">Wikipedia:How to delete a page - Wikipedia (opens in new tab)</a></li>
<li><a href="https://phabricator.wikimedia.org/T217921" rel="noopener noreferrer nofollow" target="_blank" style="text-decoration:underline">T217921 Support for prefers-color-scheme CSS @media feature in default skins (opens in new tab)</a></li>
<li><a href="https://phabricator.wikimedia.org/T221425" rel="noopener noreferrer nofollow" target="_blank" style="text-decoration:underline">T221425 Design for dark mode styles/color scheme (opens in new tab)</a></li>
<li><a href="https://en.m.wikipedia.org/wiki/User:AHollender_(WMF)/night_mode.css" rel="noopener noreferrer nofollow" target="_blank" style="text-decoration:underline">User:AHollender (WMF)/night mode.css - Wikipedia (opens in new tab)</a></li>
</ul>
<p><a href="https://validator.w3.org/check?uri=referer"><img src="https://www.w3.org/Icons/valid-html401"  alt="Valid HTML 4.01!" height="31" width="88"></a> &nbsp; <a rel="license noopener noreferrer nofollow" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" height="31" width="88"></a> &nbsp; <a rel="payment noopener noreferrer nofollow" target="_blank" href="https://donate.torproject.org/"><img src="tor-purple.png" style="border-style: none;" alt="Donate to the Tor Project!" height="31" width="88"></a></p>
</body>
</html>