<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="NoTranslate, NoImageIndex, NoSnippet, NoFollow, NoIndex, noodp, noydir" />
<link rel="stylesheet" type="text/css" href="style.css">
<title>march three</title>
</head>
<body>
<a href="index.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">home</a> | <a href="contact.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">contact</a> | <a href="sitemap.html" rel="noopener external noreferrer nofollow" style="text-decoration:underline">site map</a>
<p>progress is good. its time to stop single edits. my request for unblock using template <code>{{unblock | reason=your reason here ~~~~}}</code> was denied. it must have been submitted properly with sufficient data.</p>
<p><a href="https://validator.w3.org/check?uri=referer"><img src="https://www.w3.org/Icons/valid-html401"  alt="Valid HTML 4.01!" height="31" width="88"></a> &nbsp; <a rel="license external noopener noreferrer nofollow" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" height="31" width="88"></a> &nbsp; <a rel="payment noopener external noreferrer nofollow" target="_blank" href="https://donate.torproject.org/"><img src="tor-purple.png" style="border-style: none;" alt="Donate to the Tor Project!" height="31" width="88"></a></p>
</body>
</html>
